{{define "show"}}
  {{template "header" .}}
  {{template "menu" .}}
        <div class="row">
          <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Image</th>
              <th scope="col">Description</th>
              <th scope="col">Edit</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">{{.Id}}</th>
              <td colspan="2">{{.Name}}</td>
              <td colspan="2">
                <img src="uploads/{{.File}}">
              </td>
              <td colspan="2">{{.Description}}</td>
              <td>
                <a href="/keikibook/admin/book/edit?id={{.Id}}">edit</a>
                <a href="/keikibook/admin/book/delete?id={{.Id}}">delete</a>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
{{template "footer" .}}
{{end}}