{{define "edit"}}
  {{template "header" .}}
  {{template "menu" .}}
        <div class="row">
          <form method="POST" action="update">
            <input type="hidden" value="{{.Id}}">
            <div class="form-group">
              <label for="exampleInputEmail1">Name</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name" name="name" value="{{.Name}}">
            </div>
            <div class="form-group">
              <label for="exampleFormControlFile1">Image</label>
              <input type="file" class="form-control-file" name="image" id="exampleFormControlFile1" value={{.File}}>
            </div>
            <button type="submit" class="btn btn-primary">save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
{{template "footer" .}}

{{end}}